/* styles/Dashboard.module.css */

.title {
    text-align: center;  /* Center the title */
    margin: 20px 0;  /* Add some space above and below */
    color: var(--deep-blue);  /* Deep Blue for the title */
    font-size: 2.5em;  /* Larger font size for emphasis */
  }

  .header {
    text-align: left;  /* Center the title */
    margin: 20px 0;  /* Add some space above and below */
    color: var(--deep-blue);  /* Deep Blue for the title */
    font-size: 2em;  /* Larger font size for emphasis */
  }
  
  .description {
    text-align: center;  /* Center the description text */
    margin-bottom: 40px;  /* Space below the description */
    color: var(--charcoal);  /* Charcoal color for text */
    font-size: 1.2em;  /* Slightly larger font size */
  }
  
  .imageContainer {
    display: flex;  /* Use flexbox for layout */
    justify-content: center;  /* Center the images horizontally */
    flex-wrap: wrap;  /* Allow wrapping to the next line */
    gap: 20px;  /* Space between images */
  }
  
  .button {
    background-color: var(--soft-coral);  /* Soft Coral for button background */
    color: white;  /* White text on button */
    border: none;  /* Remove default border */
    padding: 10px 20px;  /* Add padding for size */
    border-radius: 5px;  /* Slightly rounded corners */
    cursor: pointer;  /* Change cursor to pointer on hover */
    transition: background-color 0.3s;  /* Smooth transition for hover effect */
  }
  
  .button:hover {
    background-color: var(--muted-green);  /* Muted Green for hover effect */
  }
  
  .uploadSection {
    margin: 20px 0;
  }
  
  .uploadSection input {
    margin-right: 10px;
  }
  
  .uploadSection button {
    padding: 10px 20px;
    background-color: #0056b3; /* Your chosen color */
    color: white; /* Button text color */
    border: none;
    cursor: pointer;
  }
  
  .uploadSection button:hover {
    background-color: #003366; /* Darker shade on hover */
  }
  /* Dashboard.module.css */
.uploadButton {
  background-color: #0056b3; /* Blue color */
  color: white; /* Change text color to white for contrast */
  border: none; /* Remove default border */
  padding: 10px 20px; /* Add some padding */
  border-radius: 5px; /* Round the corners */
  cursor: pointer; /* Change cursor to pointer on hover */
  font-size: 16px; /* Adjust font size */
  display: inline-block; /* Allow margin and padding */
  margin-bottom: 10px; /* Space between buttons */
  font-family: 'Times New Roman', sans-serif;
}

.uploadButton:hover {
  background-color: #003366; /* Darken the button on hover */
}
